html{
  height: 100%;
}
body {
  background-image: linear-gradient(to top, #2b0606 30%, #000000 80%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; /* Adiciona centralização da imagem, se necessário */
}

.botoes {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50px;
  border-style: solid;
  border-color: #333 #ccc #aaa #444;
  border-width: 7px;
  left: 12px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 6px;
  background-color: #777;
  height: 546px;
}

.texto {
  width: fit-content;
  margin: 0;
  display: flex;
  align-items: center;
  padding-right: 1px;
}

.botoes-gerais {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.botao {
  width: fit-content;
  background-color: #000;
  color: #fff;
  position: relative;
  padding: 5px;
  margin: 10px;
}
.opcao{
  margin: 7px;

}
.escondercamada {
  margin-top: 0px;
}

.cor {
  appearance: none;
  background: linear-gradient(white, black) padding-box;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
}

.partes-botoes {
  position: relative;
  margin: 5% 0 5% 0;
  height: 212px;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.baixar-imagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  text-decoration: none;
  color: #fff;
  height: 12px;
  width: fit-content;
  padding: 8px;
  background-color: #000;
  font-size: 15px;
}

.input-arquivo {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.partes-botoes>div {
  position: absolute;
}

.partes-botoes:hover>div {
  cursor: pointer;
}
.icon{
  background-color: #3f3;
  border-style: solid;
  border-color: #A7A7A7;
  transition: 0.1s ease;

}
.cabeca-botao {
  height: 50px;
  width: 50px;
}

.torso-botao {
  margin-top: 55px;
  height: 75px;
  width: 50px;

}

.bracoesquerdo-botao {
  margin-top: 55px;
  height: 75px;
  width: 25px;
  margin-left: 85px;

}

.bracodireito-botao {
  margin-top: 55px;
  height: 75px;
  width: 25px;
  margin-right: 85px;

}

.pernadireita-botao {
  margin-top: 135px;
  height: 75px;
  width: 23.5px;
  margin-right: 27.5px;

}

.pernaesquerda-botao {
  margin-top: 135px;
  height: 75px;
  width: 23.5px;
  margin-left: 27.5px;
}

.cor::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.download {
  margin-left: 2px;
}

.botao:hover, .baixar-imagem:hover{
  background-color: #333;
  cursor: pointer;
}

.botao:active, .baixar-imagem:active{
  background-color: #484848;
}


.botoes:hover {
  cursor: default;
}

.icon:hover{
  filter: brightness(2);
}
.cor:hover{
  background: linear-gradient(#eee, #111) padding-box;
}
.cor:active{
  background: linear-gradient(#000, #fff) padding-box;
}